.post{
    background: var(--gray-800);
    border-radius: 8px;
    padding: 1.5rem;
}

/* Executa "post" a partir do segundo elemento */
.post + .post{
    margin-top: 1rem;
}

.content{
    line-height: 1.6;
    color: var(--gray-300);
    margin-top: 0.5rem;
}

.content p{
    margin-top: 1rem;
}

.content a{
    font-weight: bold;
    color: var(--green-300);
    text-decoration: none;
}


