.sidebar{
 background: var(--gray-800);       /*Minhas variaveis de cor*/
 border-radius: 8px;                /*Arredonda as bordas*/
 overflow: hidden;                  /*hidden = Esconde o excesso, OverFlow*/  
 margin-top: 0.2rem;
}

.cover {
    width: 100%;                     /*Largura*/
    height: 72px;                    /*Altura*/
    object-fit: cover;               /*Corrige quando a image distorce, corta o excesso*/
}

.profile {
    display: flex;                  
    flex-direction: column;         /*Quebrou/Exibiu em colunas abaixo, nao ao lado como default */
    align-items: center;
    padding-top: 1rem;
    margin-top: -3rem;
   /* margin-top: calc(0px -1.5rem - 6px);*/
}



.profile strong {
    margin-top: 1rem;
    color: var(--gray-100);
    line-height: 1.6;           /*linha invisivel de separação*/
}

.profile span{
    margin-top: 0.875rem;       /* 0.875/16 = 14px... que queremos usar*/
    border-top: 1.5rem;
    line-height: 1.6;
}

.sidebar footer {
    border-top: 1px solid var(--gray-600);
    margin-top: 1.5rem;
    padding: 1.5rem 2rem 2rem;
}

.sidebar footer a {
    background: transparent;
    color: var(--green-500);
    border: 1px solid var(--green-500);
    border-radius: 8px;
    height: 50px;
    padding: 0 1rem;      /*Dá espaçamento ao lado e abaixo pds.. align center*/
    font-weight: bold;      /*Peso da font*/
    display: block;
    text-decoration: none;

    display: flex;
    align-items: center;    /*Trouxe o texto do botão para o centro*/

    gap: 0.5rem;   /*Funciona pq usamos display flex*/

    transition: color 0.1s, background-color 0.1s;
}

.sidebar footer a:hover {
    background: var(--green-500);
    color: var(--white);
}